//
//  {@OBJECT}.swift
//
//  Created by Felipe Kimio
//

import Foundation
import Mapper

struct {@OBJECT}: Mappable {
    {@FIELDS}
    let {@KEY_FIRST_TO_LOWER}: {@TYPE}
    {@FIELDS}

     init(map: Mapper) throws {
        do {
        {@FIELDS}
            {@KEY_FIRST_TO_LOWER} = try map.from("{@KEY}")
        {@FIELDS}
        } catch let error {
            MapperLogger.logError(error, file: #file, line: #line)
            throw error
        }
     }
}