//
//  {@OBJECT}.swift
//
//  Created by Felipe Kimio Nishikaku
//

import Foundation
import Mapper

struct {@OBJECT}: Mappable {
    {@FIELDS}
    let {@KEY.CAMELCASE}: {@TYPE}
    {@FIELDS}

     init(map: Mapper) throws {
        do {
        {@FIELDS}
            {@KEY.CAMELCASE} = try map.from("{@KEY}")
        {@FIELDS}
        } catch let error {
            MapperLogger.logError(error, file: #file, line: #line)
            throw error
        }
     }
}